/*
#202028
#ffffff
#ff9378
#0d0d0f
#85858e
*/
.colour_holder{
    background-color: rgb(32, 32, 40);
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 149, 122);
    background-color: rgb(12, 12, 14);
    background-color: rgb(133, 133, 142);
}
@font-face {
    font-family: social;
    src: url(../fonts/social.otf);
}
html, body {

    background-color:#202028 ;
    color: white;
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb{
        background: #FF0000;
}
body{
    height: 100%;
    width: 100%;
}
.headFont{
    font-family: 'Heebo', sans-serif;
    font-size: 60px;
    font-weight: 600;
}
.textFont{
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
}
.snap{
    /* background-color: #202028; */
    height: 100vh;
    width: 100%;
    display: block;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.startMenu{
    z-index: 1;
    height: 3.9em;
    width: 3.9em; 
    background-color: #ff9378;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    box-shadow: 0px 0px 6px 0px #ffffff;
    cursor: pointer;
    text-shadow: 0px 0px 15px rgb(12, 12, 14, 0.31);
    transition: 1s;
    position: absolute;
}
.startMenu:hover{
    height: 4.5em;
    width: 4.5em; 
}
.startMenuBack{
    -webkit-clip-path: polygon(50% 54%, 44% 85%, 50% 53%, 81% 57%, 50% 52%, 79% 81%, 51% 52%, 71% 13%, 51% 51%, 47% 17%, 51% 50%, 15% 24%, 49% 50%, 97% 33%, 49% 51%, 13% 57%, 50% 52%, 18% 85%, 50% 53%, 66% 86%);
    clip-path: polygon(50% 54%, 44% 85%, 50% 53%, 81% 57%, 50% 52%, 79% 81%, 51% 52%, 71% 13%, 51% 51%, 47% 17%, 51% 50%, 15% 24%, 49% 50%, 97% 33%, 49% 51%, 13% 57%, 50% 52%, 18% 85%, 50% 53%, 66% 86%);
    height: 6em;
    width: 6em; 
    background-color: white;
    box-shadow: 0px 0px 25px 6px #ffffff;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    animation: rotation 30s infinite linear;

}
.startMenuBack2{
    -webkit-clip-path: polygon(50% 54%, 75% 96%, 50% 53%, 84% 72%, 50% 52%, 95% 50%, 51% 52%, 89% 21%, 51% 51%, 65% 20%, 51% 50%, 47% 2%, 49% 50%, 12% 10%, 49% 51%, 4% 42%, 50% 52%, 6% 74%, 50% 53%, 40% 87%);
    clip-path: polygon(50% 54%, 75% 96%, 50% 53%, 84% 72%, 50% 52%, 95% 50%, 51% 52%, 89% 21%, 51% 51%, 65% 20%, 51% 50%, 47% 2%, 49% 50%, 12% 10%, 49% 51%, 4% 42%, 50% 52%, 6% 74%, 50% 53%, 40% 87%);
    height: 6em;
    width: 6em; 
    background-color: white;
    box-shadow: 0px 0px 25px 6px #ffffff;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    animation: rotation2 30s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
@keyframes rotation2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
}
.contentMenu{
      display: grid;
      grid-template-rows: 100vh 120vh 10vh;
      height: 100%;
      width: 100%;
}
.headContent{
    grid-row-start: 1;
    background-color: rgb(32, 32, 40);
    padding: 1rem 3rem 3rem 1rem;
}
.navBar{
    display: grid;
    background-color: rgb(32, 32, 40);
    grid-template-columns: 110px 8ex 1fr 195px;
    grid-template-rows: 2em;
    margin-bottom: 2em;
}
.logo{
    height: 2em;
    width: auto;
    grid-column-start: 1;
}
.logoTextGrid{
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 2.5ex 1.5ex 3ex ;
    grid-template-rows: 1em 1em ;
}
.textLion{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 1;
}
.textHeart{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
}
.contactDiv{
    grid-column-start: 4;
}
.navigation{
    grid-column-start: 3;
    display: grid;
    grid-template-columns: 240px 240px;
    align-items: center;
    justify-items: right;
    justify-self: right;
    font-size: 40px;
}
.aboutUs{
    grid-column-start: 1;
    text-align: center;
    z-index: 1;
}
.products{
    grid-column-start: 2;
    text-align: center;
    margin: 0 2rem 0 0;
    z-index: 1;
}
.contacts{
   font-family: social;
   z-index: 1;
   color: white;
   position: relative;
   float:right;
   display: flex;
}
.contactGithub{
    padding: 1rem;
}
.contactEmail{
    padding: 1rem;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
    color: white;
}
.shadow{
    box-shadow: 0px 0px 18px -5px #000000;
}
.whiteContent{
      grid-row-start: 2;
      background-color: #fff;
      padding: 3rem;
      box-shadow: 0px 0px 18px -5px #000000;

}
.abtUsText{
    padding: 1vw;
}
.mainText{
    color: rgb(255, 149, 122);
}
.subText{
    color: rgb(12, 12, 14);
    font-size: 25px;
}
.productList{
    padding: 5vw;
}
.productText{
    color: rgb(255, 149, 122);
    text-align: center;

}
.productListContent{
    display: grid;
    grid-template-columns: repeat(3,25vw);
    grid-template-rows: 27vw 10vw;
    gap: 1vw 3vw;
    color: rgb(12, 12, 14);
    font-size: 20px;
    justify-items: center;
    margin-left: 1vw;
}
iframe{
    width: 25vw;
    height: 100%;
}
.song1{
    grid-column-start: 1;
    grid-row-start: 1;
}
.song2{
    grid-column-start: 2;
    grid-row-start: 1;
}
.song3{
    grid-column-start: 3;
    grid-row-start: 1;
}
.songA{
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 0 1em 1em 1em;
}
.songB{
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 0 1em 1em 1em;
}
.songC{
    grid-column-start: 3;
    grid-row-start: 2;
    padding: 0 1em 1em 1em;
}
.footerContent{
    grid-row-start: 3;
    background-color: rgb(12, 12, 14);
    /* padding: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContent a{
color: rgb(133, 133, 142);
}